@mixin app-item {
    display: flex;
    height: 545px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 24px;
    background: #fffef2;

}

@mixin dynapuff-48px-700{
    font-family: DynaPuff;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}
@mixin manrope-16px-500{
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}
@mixin manrope-16px-700{
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

