.container {
  width: 1050px;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (max-width: 1199px) {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (max-width: 767px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

