.alex-johnsson__container{
  display: flex;
}

.alex-johnsson {
    background: #202020;
    display: flex;
    position: relative;
    overflow: hidden;

    
    .alex-johnsson__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      width: 540px;
      padding-top: 102px;
      padding-bottom: 102px;
     
      @media screen and (max-width: 767px) {
        width: 342px;
        padding-top: 72px;
        padding-bottom: 76px;
      }
      @media screen and (max-width: 425px) {
        width: 280px;
      }
    }
  
    .alex-johnsson__name {
      color: #faeb49;
      @include dynapuff-48px-700;
      margin: 0;
      @media screen and (max-width: 767px) {
        font-size: 36px;
        white-space: nowrap;
      }
      @media screen and (max-width: 425px) {
        width: 280px;
        white-space: wrap;
      }
    }
  
    .alex-johnsson__description {
      color: #fff;
      @include manrope-16px-500;
      margin: 0;
      width: 524px;
      @media screen and (max-width: 767px) {
        width: 342px;
        font-size: 15px;
      }
      @media screen and (max-width: 425px) {
        width: 280px;
      }
    }
  
    .alex-johnsson__list {
      display: flex;
      gap: 96px;
      margin: 0;
      padding: 0;
  
      @media screen and (max-width: 1199px) {
        gap: 55px;
      }
      @media screen and (max-width: 767px) {
        gap: 14px;
      }
      @media screen and (max-width: 425px) {
        width: 280px;
      }
    }
  
    .alex-johnsson__item {
      display: flex;
      flex-direction: column;
      margin: 0;
      gap: 5px;
      list-style-type: none;
      padding-left: 0;
    }
    .alex-johnsson__numbers {
      color: #fff;
      @include dynapuff-48px-700;
      @media screen and (max-width: 500px) {
        font-size: 36px;
      }
    }
  
    .alex-johnsson__products {
      color: #fff;
      @include manrope-16px-700;
      @media screen and (max-width: 767px) {
        width: 75px;
      }
    }
  
    .rectangle {
      position: relative;
      left: calc(50% - 280px);
      top: -20px;
      width: 268px;

      @media screen and (max-width: 1199px) {
        left: calc(50% - 200px);
      }
      @media screen and (max-width: 767px) {
        left: calc(50% - 120px);
        top: 50px;
      }
      @media screen and (max-width: 425px) {
        left: calc(50% - 90px);
        top: 70px;
      }
    }
  
    .rectangle__one {
      width: 268px;
      height: 512px;
      transform: rotate(45deg);
      border-radius: 50%;
      border: 1px solid #737373;
      position: absolute;
      @media screen and (max-width: 767px) {
        width: 167.488px;
        height: 319.978px;
      }
      z-index: 2;
    }
  
    .rectangle__two {
      width: 268px;
      height: 512px;
      transform: rotate(-45deg);
      border-radius: 50%;
      border: 1px solid #737373;
      position: absolute;
      @media screen and (max-width: 767px) {
        width: 167.488px;
        height: 319.978px;
      }
    }
  }