
.apps__main {
    padding: 24px 20px;
    border-radius: 24px;
    background: #fffef2;
    max-width: 100%;
    grid-column: span 3;
    height: auto;
    position: relative;
    @media screen and (max-width: 1199px) {
      grid-column: span 2;
      padding: 20px;
    }
    @media screen and (max-width: 767px) {
      grid-column: span 1;
      padding: 16px;
    }
    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='65' height='64' viewBox='0 0 65 64' fill='none'%3E%3Cg filter='url(%23filter0_bd_7_84)'%3E%3Ccircle cx='32.5' cy='32' r='28' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_bd_7_84' x='-5.5' y='-6' width='76' height='76' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='5'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_7_84'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.09 0'/%3E%3CfeBlend mode='normal' in2='effect1_backgroundBlur_7_84' result='effect2_dropShadow_7_84'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow_7_84' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
      position: absolute;
      top: 35px;
      right: 35px;
    }
    &::after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='34' viewBox='0 0 35 34' fill='none'%3E%3Cg clip-path='url(%23clip0_7_85)'%3E%3Cpath d='M17.3221 8.63383C17.3229 8.89802 17.4282 9.15116 17.615 9.33797C17.8018 9.52477 18.055 9.63007 18.3191 9.63085L23.4245 9.60257L8.98532 24.0417C8.79778 24.2292 8.69242 24.4836 8.69242 24.7488C8.69242 25.014 8.79778 25.2684 8.98531 25.4559C9.17285 25.6435 9.4272 25.7488 9.69242 25.7488C9.95764 25.7488 10.212 25.6435 10.3995 25.4559L24.8316 11.0239L24.8316 16.1433C24.8311 16.2753 24.8567 16.4061 24.9069 16.5282C24.9572 16.6503 25.0311 16.7612 25.1245 16.8545C25.2178 16.9479 25.3287 17.0218 25.4508 17.0721C25.5729 17.1223 25.7037 17.1479 25.8357 17.1474C26.0999 17.1466 26.353 17.0413 26.5398 16.8545C26.7266 16.6677 26.8319 16.4146 26.8327 16.1504L26.8398 10.6137C26.8393 9.81872 26.5233 9.05643 25.9611 8.49427C25.3989 7.93212 24.6366 7.61609 23.8416 7.6156L18.3191 7.63681C18.055 7.6376 17.8018 7.74289 17.615 7.9297C17.4282 8.11651 17.3229 8.36965 17.3221 8.63383Z' fill='%23374957'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_7_85'%3E%3Crect width='24' height='24' fill='white' transform='translate(17.4706) rotate(45)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      position: absolute;
      top: 50px;
      right: 50px;
      z-index: 1;
    }
  }
  
  
  
  .apps__main--image {
    width: 100%;
    border-radius: 13px;
    height: 498px;
    object-fit: cover;
    @media screen and (max-width: 767px) {
  height: 278px;
    }
  }
  .apps__main--title {
    color: #565656;
    font-family: DynaPuff;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 22px;
    margin-top: 20px;
    @media screen and (max-width: 767px) {
      font-size: 32px;
    }
  }
  
  .apps__main--description {
    color: #000;
    @include manrope-16px-700;
    margin: 0;
    @media screen and (max-width: 767px) {
      font-size: 15px;
    }
  }
  
  .apps {
    padding-bottom: 86px;
    padding-top: 86px;
    background: #3c3c3c;
    @media screen and (max-width: 1199px) {
      padding-bottom: 122px;
      padding-top: 52px;
    }
    @media screen and (max-width: 767px) {
      padding-bottom: 85px;
    }
  }
  
  .apps__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 63px;
    max-width: 100%;
    height: auto;
  
    @media screen and (max-width: 1199px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 102px;
    }
  
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 63px;
    }
  }
  
  .apps__item{
    @include app-item;
    position: relative;
  
    @media screen and (max-width: 1199px) {
      height: 634px;
    }
    @media screen and (max-width: 767px) {
      height: 518px;
    }

    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='65' height='64' viewBox='0 0 65 64' fill='none'%3E%3Cg filter='url(%23filter0_bd_7_84)'%3E%3Ccircle cx='32.5' cy='32' r='28' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_bd_7_84' x='-5.5' y='-6' width='76' height='76' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='5'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_7_84'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.09 0'/%3E%3CfeBlend mode='normal' in2='effect1_backgroundBlur_7_84' result='effect2_dropShadow_7_84'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow_7_84' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
      position: absolute;
      top: 35px;
      right: 35px;
    }
    &::after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='34' viewBox='0 0 35 34' fill='none'%3E%3Cg clip-path='url(%23clip0_7_85)'%3E%3Cpath d='M17.3221 8.63383C17.3229 8.89802 17.4282 9.15116 17.615 9.33797C17.8018 9.52477 18.055 9.63007 18.3191 9.63085L23.4245 9.60257L8.98532 24.0417C8.79778 24.2292 8.69242 24.4836 8.69242 24.7488C8.69242 25.014 8.79778 25.2684 8.98531 25.4559C9.17285 25.6435 9.4272 25.7488 9.69242 25.7488C9.95764 25.7488 10.212 25.6435 10.3995 25.4559L24.8316 11.0239L24.8316 16.1433C24.8311 16.2753 24.8567 16.4061 24.9069 16.5282C24.9572 16.6503 25.0311 16.7612 25.1245 16.8545C25.2178 16.9479 25.3287 17.0218 25.4508 17.0721C25.5729 17.1223 25.7037 17.1479 25.8357 17.1474C26.0999 17.1466 26.353 17.0413 26.5398 16.8545C26.7266 16.6677 26.8319 16.4146 26.8327 16.1504L26.8398 10.6137C26.8393 9.81872 26.5233 9.05643 25.9611 8.49427C25.3989 7.93212 24.6366 7.61609 23.8416 7.6156L18.3191 7.63681C18.055 7.6376 17.8018 7.74289 17.615 7.9297C17.4282 8.11651 17.3229 8.36965 17.3221 8.63383Z' fill='%23374957'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_7_85'%3E%3Crect width='24' height='24' fill='white' transform='translate(17.4706) rotate(45)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      position: absolute;
      top: 50px;
      right: 50px;
    }
  }
  
  .apps__item1 {
    @media screen and (max-width: 767px) {
  display: none;
    }
  }
  
  .apps__item3 {
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }
  
  .apps__pic {
    border-radius: 13px;
    width: 100%;
    object-fit: cover;
    @media screen and (max-width: 1199px) {
      height: 448px;
    }
    @media screen and (max-width: 767px) {
      height: 363px;
    }
  }
  
  .apps__title {
    color: #565656;
    font-family: DynaPuff;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 22px;
    @media screen and (max-width: 425px) {
      padding-top: 10px;
      padding-bottom: 12px;
    }
  }
  
  .apps__description {
    color: #000;
    @include manrope-16px-500;
    margin: 0;
  
    @media screen and (max-width: 767px) {
      font-size: 15px;
    }
    @media screen and (max-width: 425px) {
      font-size: 13px;
    }
  }