.footer {
  background: #202020;
  padding-top: 78px;
  padding-bottom: 30px;
  @media screen and (max-width: 1199px) {
    padding-top: 96px;
    padding-bottom: 35px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 53px;
    padding-bottom: 40px;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link {
  padding: 42px 137px;
  border-radius: 139px;
  border: 1px solid #f2f2f2;


  @media screen and (max-width: 1199px) {
width: 714px;
padding: 21px 137px;
  }
  @media screen and (max-width: 767px) {
    width: 342px;
    padding: 21px 34px;
  }
  @media screen and (max-width: 375px) {
    width: 300px;
    padding: 10px 34px;
  }


}

.footer__link-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 17px;
  padding-left: 153px;
  position: relative;



  &::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='108' height='108' viewBox='0 0 108 108' fill='none'%3E%3Cpath d='M54 0L54.0105 53.9469L74.665 4.11049L54.03 53.9551L92.1837 15.8163L54.0449 53.97L103.889 33.335L54.0531 53.9895L108 54L54.0531 54.0105L103.889 74.665L54.0449 54.03L92.1837 92.1837L54.03 54.0449L74.665 103.889L54.0105 54.0531L54 108L53.9895 54.0531L33.335 103.889L53.97 54.0449L15.8163 92.1837L53.9551 54.03L4.11049 74.665L53.9469 54.0105L0 54L53.9469 53.9895L4.11049 33.335L53.9551 53.97L15.8163 15.8163L53.97 53.9551L33.335 4.11049L53.9895 53.9469L54 0Z' stroke='white' stroke-width='4'/%3E%3C/svg%3E");
    position: absolute;
    top: 0px;
    left: 0px;

    @media screen and (max-width: 1199px) {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='108' height='108' viewBox='0 0 108 108' fill='none'%3E%3Cpath d='M54 0L54.0105 53.9469L74.665 4.11049L54.03 53.9551L92.1837 15.8163L54.0449 53.97L103.889 33.335L54.0531 53.9895L108 54L54.0531 54.0105L103.889 74.665L54.0449 54.03L92.1837 92.1837L54.03 54.0449L74.665 103.889L54.0105 54.0531L54 108L53.9895 54.0531L33.335 103.889L53.97 54.0449L15.8163 92.1837L53.9551 54.03L4.11049 74.665L53.9469 54.0105L0 54L53.9469 53.9895L4.11049 33.335L53.9551 53.97L15.8163 15.8163L53.97 53.9551L33.335 4.11049L53.9895 53.9469L54 0Z' stroke='white' stroke-width='4'/%3E%3C/svg%3E");
      left: -100px;
      top: 0;
    }
    
    @media screen and (max-width: 767px) {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='51' viewBox='0 0 108 108' fill='none'%3E%3Cpath d='M54 0L54.0105 53.9469L74.665 4.11049L54.03 53.9551L92.1837 15.8163L54.0449 53.97L103.889 33.335L54.0531 53.9895L108 54L54.0531 54.0105L103.889 74.665L54.0449 54.03L92.1837 92.1837L54.03 54.0449L74.665 103.889L54.0105 54.0531L54 108L53.9895 54.0531L33.335 103.889L53.97 54.0449L15.8163 92.1837L53.9551 54.03L4.11049 74.665L53.9469 54.0105L0 54L53.9469 53.9895L4.11049 33.335L53.9551 53.97L15.8163 15.8163L53.97 53.9551L33.335 4.11049L53.9895 53.9469L54 0Z' stroke='white' stroke-width='4'/%3E%3C/svg%3E");
      left: 0px;
      top: 0px;
    }
    @media screen and (max-width: 375px) {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='51' viewBox='0 0 108 108' fill='none'%3E%3Cpath d='M54 0L54.0105 53.9469L74.665 4.11049L54.03 53.9551L92.1837 15.8163L54.0449 53.97L103.889 33.335L54.0531 53.9895L108 54L54.0531 54.0105L103.889 74.665L54.0449 54.03L92.1837 92.1837L54.03 54.0449L74.665 103.889L54.0105 54.0531L54 108L53.9895 54.0531L33.335 103.889L53.97 54.0449L15.8163 92.1837L53.9551 54.03L4.11049 74.665L53.9469 54.0105L0 54L53.9469 53.9895L4.11049 33.335L53.9551 53.97L15.8163 15.8163L53.97 53.9551L33.335 4.11049L53.9895 53.9469L54 0Z' stroke='white' stroke-width='4'/%3E%3C/svg%3E");
      left: 0px;
      top: -5px;
    }
  }
  @media screen and (max-width: 1199px) {
    padding-left: 45px;
  }
  @media screen and (max-width: 767px) {
    row-gap: 4px;
    padding-left: 72px;
  }
  @media screen and (max-width: 375px) {
    row-gap: 4px;
    padding-left: 72px;
  }
}

.footer__title {
  color: #fff;
  font-family: DynaPuff;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  white-space: nowrap;

  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
  @media screen and (max-width: 375px) {
    font-size: 15px;
  }

}

.footer__description {
  display: flex;
  align-items: center;
  gap: 24px;
  color: #fff;
  justify-content: start;
  font-family: Manrope;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  position: relative;
  white-space: nowrap;
  @media screen and (max-width: 767px) {
    font-size: 15px;
  }
  &::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='55' height='26' viewBox='0 0 56 29' fill='none'%3E%3Cpath d='M1 14.5L54 14.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M43 1.5L56 14.5L43 27.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    height: 26px;
    @media screen and (max-width: 767px) {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32.8' height='15.5' viewBox='0 0 56 29' fill='none'%3E%3Cpath d='M1 14.5L54 14.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M43 1.5L56 14.5L43 27.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      height: 15.5px;
    }
  }
}




.footer__social {
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding-top: 163px;
  @media screen and (max-width: 768px) {
    padding-top: 60px;
  }
}

.footer__icons {
  display: flex;
  justify-content: center;
  gap: 34px;
}

.footer__copyright {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
