.header {
  height: 800px;
  background: linear-gradient(253deg, #ffee32 -13.48%, #d6d6d6 125.48%);
position: relative;
}


.header__menu {
display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;


  @media screen and (max-width: 1199px) {
padding-top: 38px;
padding-bottom: 38px;

  }

  @media screen and (max-width: 767px) {
padding-top: 27px;
padding-bottom: 27px;
  }
}

.header__menu--background.fixed-menu { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 3;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
  background-color: #202020;
  width: 100%;

  height: 92px;
  transition: background-color 0.3s ease;
  @media screen and (max-width: 1199px) {

  }
}

.header__burger {
  display: none ;
  border-radius: 20px;
  border: 2px solid #fff;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  @media screen and (max-width: 1199px) {
    display: flex ;
  }
}

.header__menu-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding-left: 0;
  margin: 0;
  @media screen and (max-width: 1199px) {
  display: none;
  }

}

.header__menu-item {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  border: 1px solid #fff;
}

.header__menu-text {
  margin: 0;
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.header__article {
  color: #fff;
  font-family: DynaPuff;
  font-size: clamp(48px, 15vw, 80px);
  font-weight: 700;
  line-height: normal;
  width: 846px;
  margin: 0;
position: absolute;
bottom: 119px;


  @media screen and (max-width: 1199px) {
    width: 521px;
    bottom: 130px;
    }
  @media screen and (max-width: 767px) {
      width: 326px;
      bottom: 149px;
      }
  @media screen and (max-width: 425px) {
        width: 280px;

      }
}
