.motto {
    background: url("../images/pic7.jpg") lightgray 50% / cover no-repeat;
    min-height: 800px;
    position: relative;
    .motto__content {
      display: flex;
      justify-content: center;
      align-items: center;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
    @media screen and (max-width: 767px) {
      min-height: 498px;
    }
  
    .motto__text {
      text-align: center;
      color: #ffffff;
      @include dynapuff-48px-700;
      margin: 0;
      max-width: 1059px;
      @media screen and (max-width: 1199px) {
        width: 704px;
      }
      @media screen and (max-width: 767px) {
        width: 343px;
        font-size: 24px;
      }
    }
  }
  